
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Quicksand&display=swap');

body {
    font-family: quicksand;
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
    padding-bottom: 60px;
    background-color: #F2C0A2;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 0px;
    color: #F25F29;
    background-color: #8C3623;
    font-size: 100%;
    font-style: oblique;
    border-top: 5px solid #A66D03;
}
img {
    height: 200px;
}
nav {
    border-bottom: 5px solid #A66D03;
    padding: 16px;
    background-color: #8C3623
}

h1 {
    color: #8C3623;
    text-shadow: 0px 0px 10px #A66D03;
}

h2 {
    color: #8C3623;
    text-shadow: 0px 0px 10px #A66D03;
}

.grid {
    display: grid;
    grid-template-columns: 204px 204px 204px 204px;
    grid-template-rows: auto;
    gap: 50px 100px;
}

a {
    text-decoration: none;
}

.orange-text {
    color: #F25F29;
}

.gray-bg {
    background-color: #d5aa8f;
}

a:hover {
    color: #04ADBF;
}

.boxshadow {
    box-shadow: 0px 0px 10px #04ADBF;
}

table:hover {
    box-shadow: 0px 0px 10px #04ADBF;
}

ol:hover {
    box-shadow: 0px 0px 10px #04ADBF;
    width: 400px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}
